*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(360deg, #c5d5ce 0%, #87af7e 100%);
  font-family: 'Solway', serif;
  height: 100vh;
}

ul{
  list-style: none;
}

.root-h2{
  text-align: center;
  font-size: 30px;
  margin: 30px 0;
  color: #F0FF42;
}

.root-img{
  display: block;
  margin: auto;
}

.root-div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(0deg, #ad898e 0%, #f95f8f 100%);
  border-radius: 30px;
  color: #F0FF42;
  font-weight: 700;
}

.cards{
  max-width: 100%;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.card{
  max-width: 200px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 20px;
  box-shadow:  5px 5px 6px #989898;             
  margin-bottom: 30px;
  overflow: hidden;
  transition: 0.3s linear;
}

.card__img{
  max-width: 100%;
  height: auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  object-fit: cover;
  transition: 0.3s linear;
}

.card:hover .card__img{
  transform: scale(1.05);
}

.card__info{
  padding: 0 16px;
  margin-bottom: 20px;
}

.card__category{
  color: #434242;
  display: block;
  margin-bottom: 8px;
}

.card__title{
  font-size: 18px;
  margin-bottom: 12px;
}

.card__info a button{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-family: 'Solway', serif;
  transition: 0.3s linear;
  border: none;
  background: #F0FF42;
  border-radius: 20px;
  cursor: pointer;
}

.card__info a:hover button{
  background: #EA047E;
}

.incnum,
.time{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
  font-size: 50px;
}

.click__me,
.get__time{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 60px;
  border-radius: 20px;
  border: none;
  background: #FFE15D;
  font-family: 'Solway', serif;
  font-size: 24px;
  box-shadow:  5px 5px 12px #5a5a5a,
             -5px -5px 12px #ffffff;
  cursor: pointer;
  transition: 0.3s linear;
}

.click__me:hover,
.get__time:hover{
  background: #f95f8f;
}

.root__container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.root__container>h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.root__container p{
  text-align: center;
  margin-bottom: 10px;
}

.root__form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root__form>input{
  width: 50vw;
  height: 40px;
  border-radius: 20px;
  font-family: 'Solway', serif;
  text-align: center;
  line-height: 40px;
  border: none;
  padding: 0 15px;
  margin-bottom: 20px;
  outline-color: #EA047E;
}

.root__form>button{
  width: 100px;
  height: 30px;
  font-family: 'Solway', serif;
  line-height: 30px;
  border-radius: 20px;
  border: none;
  background-color: #EB6440;
  transition: 0.3s linear;
  cursor: pointer;
}

.root__form>button:hover{
  background-color: #f95f8f;
  color: #ffffff;
}

.todo__list{
  width: 50vw;
  /* height: 50vh; */
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow:  5px 5px 13px #5a5a5a,
             -5px -5px 13px #ffffff;
}

.todo__heading{
  font-size: 30px;
  text-align: center;
  background-color: #10A19D;
  color: #fff;
  margin-bottom: 30px;
}

.todo__form{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.todo__form input{
  font-family: 'Solway', serif;
  width: 80%;
  border: none;
  border-bottom: 2px solid #10A19D;
  text-align: center;
  color: #10A19D;
  outline: none;
  padding: 4px 0;
}

.todo__form input::placeholder{
  color: #10A19D;
}

.todo__form button{
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: #10A19D;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
  padding: 0;
}

.todo__form button:hover{
  background-color: #24c873;
}

.todo__list .todo__item{
  padding: 0 20px;
  text-align: left;
  font-size: 20px;
  color: #10A19D;
}

.todo__item li{
  margin-bottom: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  /* text-decoration: line-through; */
}

.todo__item>li>button{
  min-width: 25px;
  padding: 0;
  height: 25px;
  border-radius: 50%;
  background-color: #10A19D;
  margin-right: 8px;
  transition: 0.3s linear;
}

.todo__item>li>button:hover{
  background-color: #24c873;
}

.todo__item>li svg{
  width: 15px;
  height: 15px;
  color: #fff;
  transition: 0.3s linear;
}

.todo__item>li>button:hover svg{
  color: #FB2576;
}

.h2__number{
  margin: 50px 0 50px 0;
  text-align: center;
  font-size: 50px;
  background-color: #1C6758;
  color: #fff;
}

.todo__up-down{
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo__up-down Button{
  min-width: 50px;
  height: 50px;
  border: none;
  background-color: #1C6758;
  color: #fff;
  font-family: 'Solway', serif;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s linear;
}

.todo__up-down Button:hover{
  background-color: #0096FF;
}

.ques__heading{
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.ques__item{
  margin: 0 20px;
  margin-bottom: 16px;
  position: relative;
}

.ques__detail{
  height: 50px;
  background-color: #D6E4E5;
  display: flex;
  align-items: center;
  padding: 0 15px;
  font-size: 14px;
}

.ques__detail button{
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  padding: 0;
  margin-right: 8px;
}

.ques__detail button svg{
  width: 15px;
  height: 15px;
  color: #000;
}

.answer{
  padding: 15px;
  text-align: left;
  background-color: #FFE1E1;
  transition: 0.3s linear;
}

.root__container .answer .p__answer{
  text-align: left;
  margin: 0;
  font-size: 14px;
}

.note__div{
  position: relative;
  width: 50vw;
  /* height: 150px; */
  background-color: #fff;
  margin: auto;
  border-radius: 10px;
  box-shadow:  5px 5px 13px #5a5a5a;
}

.note__div input{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  padding: 0 10px;
  outline: none;
  border: none;
  font-family: 'Solway', serif;
}

.note__div textarea{
  margin-left: 10px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  width: 95%;
}

.note__div input::placeholder,
.note__div input{
  font-size: 20px;
  font-weight: 600;
}

.note__refresh{
  width: 20px;
  height: 20px;
  background-color: #24c873;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  margin-left: auto;
}

.note__refresh>svg{
  height: 15px;
  width: 15px;
  color: #fff;
}

.note__div>button{
  min-width: 50px;
  height: 50px;
  padding: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow:  5px 5px 9px #5a5a5a;
  position: absolute;
  right: 0;
  bottom: 0;
  transform: translate(-15px, 50%);
  transition: .3s linear;
}

.note__div>button>svg{
  color: #FFBF00;
}

.note__div>button:hover{
  background-color: #22A39F;
}

.note__list{
  margin-top: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}

.note__item{
  width: 200px;
  border-radius: 5px;
  height: 100px;
  background: #fff;
  box-shadow:  5px 5px 9px #5a5a5a;
  margin-bottom: 20px;       
  margin-right: 20px;
  position: relative;
}

.note__item p{
  margin: 8px 10px;
}

.note__item p:first-of-type{
  font-size: 20px;
  font-weight: 600;
}

.note__item p:last-of-type{
  font-size: 14px;
  margin-bottom: 0;
}

.note__item>button{
  position: absolute;
  padding: 0;
  min-width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  box-shadow:  5px 5px 10px #cac8c8;
  margin-right: 10px;
  transition: 0.3s linear;
  bottom: 10px;
  right: 0;
  display: flex;
  align-items: center;
}

.note__item>button>svg{
  color: #FFBF00;
  width: 20px;
  height: 20px;
  transition: 0.3s linear;
}

.note__item>button:hover svg{
  color: #fff;
}

.note__item>button:hover{
  background-color: #FF577F;
}

select{
  width: 60px;
  height: 30px;
  font-size: 20px;
  text-align: center;
  margin: 20px 0 0 20px;
  outline: none;
  border: none;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

a.active__class{
  color: #000;
  border-bottom: 1px solid red;
}

.navbar{
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: space-around;
  background-color: #6ECCAF;
}

.search__div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search__div input{
  border: none;
  outline: none;
  height: 30px;
  width: 50vw;
  border-radius: 15px;
  padding: 0 10px;
  font-family: 'Solway', serif;
}

.img__div{
  overflow: hidden;
  cursor: pointer;
}

.img__div img{
  display: block;
  margin: auto;
  transition: 0.3s linear;
}

.img__div img:hover{
  transform: scale(1.05);
}

.error__div svg{
  margin: auto;
  display: block;
}

.error__div a{
  display: block;
  width: 180px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  color: #000;
  background-color: #87af7e;
  margin: auto;
  font-family: 'Solway', serif;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.3s linear;
}

.error__div a:hover{
  background-color: #FB2576;
  color: #fff;
}

.about__page,
.contact__page,
.user__page{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  text-align: center;
}

.about__page h1,
.contact__page h1,
.user__page h1{
  font-size: 60px;
  margin-bottom: 30px;
}

.about__page p,
.contact__page p,
.user__page p{
  font-size: 40px;
}


